.Navbar {
  margin: 0;
  padding: 0;
  height: 4rem;
  width: 100%;
  position: fixed;
  z-index: 50;
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000000;
}

.container {
  width: 100%;
  color: var(--primary-white);
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container h1 {
  font-size: 1.5rem;
}

.Brand {
  color: var(--primary-orange);
  transition: var(--transition);
}

.Brand:hover {
  color: var(--primary-white);
}

.navLinks {
  width: 50%;
  display: none;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2rem;
}

.navLinks a:hover {
  color: var(--primary-orange);
}

@media (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 992px;
  }
  .navLinks {
    display: flex;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
  .navLinks {
    display: flex;
  }
}
